---
import type { IPlaylist } from "@/interfaces/music.interface";
import { adaptArtist } from "@/helpers/artist.helpers";
import CardPlayButton from "./CardPlayButton.svelte";

interface Props {
  playlist: IPlaylist;
}

const { playlist } = Astro.props;

const { id, cover, title, artists } = playlist;

const authors = adaptArtist(artists);
---

<article
  class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md ransi transition-all duration-300"
>
  <div
    class=`absolute right-4 bottom-20 translate-y-4 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10`
  >
    <CardPlayButton client:visible playlistId={id} />
  </div>
  <a
    href={`/playlist/${id}`}
    transition:name=`playlist-container-${id}`
    class="playlist-item transition-all duration-300 flex relative p-2 overflow-hidden gap-2 pb-6 rounded-md w-44 flex-col"
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img
        src={cover}
        alt={`Cover of ${title} by ${authors}`}
        class="object-cover w-full h-full rounded-md"
        transition:name=`playlist-image-${id}`
      />
    </picture>
    <div class="flex flex-auto flex-col p-x-2">
      <h4 class="text-white text-sm" transition:name=`playlist-title-${id}`>
        {title}
      </h4>
      <span
        class="text-xs text-gray-400"
        transition:name=`playlist-authors-${id}`
      >
        {authors}
      </span>
    </div>
  </a>
</article>
